@import url("http://fonts.cdnfonts.com/css/georgia");
@import url("http://fonts.cdnfonts.com/css/arial");
.inner-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.header {
  position: sticky;
  background-color: #FFFFFF;
  height: 120px;
  margin: 0 auto;
  top: 0px;
  z-index: 10;
}

.header__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo__title {
  font-family: Georgia, serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.logo__subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #292929;
  margin-top: 10px;
  margin-left: 4px;
}

.header-nav__list {
  list-style: none;
  display: flex;
  gap: 36px;
}

.header-nav__item a {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  cursor: pointer;
}
.header-nav__item a:hover {
  color: #292929;
}

.header-nav__item_active a {
  color: #292929;
  line-height: 160%;
}
.header-nav__item_active a::after {
  content: "";
  display: block;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #F1CDB3;
}

h3 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.our-friends {
  padding: 80px 0 100px 0;
  background-color: #F6F6F6;
}

.our-friends__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-friends__heading {
  max-width: 400px;
  text-align: center;
  max-height: 90px;
  margin-bottom: 60px;
}

.our-friends__cards {
  display: flex;
  gap: 30px 40px;
  flex-wrap: wrap;
}

.pet-card {
  height: 435px;
  overflow: hidden;
  background-color: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.pet-card:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.pet-card:hover .button-secondary {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.pet-card__image {
  width: 270px;
  height: 270px;
}

.pet-card__name {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.button-secondary {
  padding: 15px 45px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: none;
  font-family: Georgia, serif;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.button-secondary:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.pet-card__button {
  width: 188px;
}

.paginator-nav {
  margin-top: 60px;
  margin-left: -40px;
}

.paginator-nav__list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
}

.paginator-nav__item {
  padding: 0;
}

.button-paginator {
  margin: auto 0;
  cursor: pointer;
  width: 52px;
  height: 52px;
  background: none;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
}
.button-paginator .button-paginator__inner-text {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 85%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}
.button-paginator:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.button-paginator__active {
  pointer-events: none;
  background-color: #F1CDB3;
}

.button-paginator__disabled {
  pointer-events: none;
  border-color: #CDCDCD;
}
.button-paginator__disabled .button-paginator__inner-text {
  color: #CDCDCD;
}

.footer {
  height: 350px;
  background-image: url("../../assets/images/footer-gradient-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer__content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-info-block {
  height: 234px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
}

.footer-info-block_contacts {
  width: 280px;
}

.footer-info-block__title {
  font-family: Georgia, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-info-item a {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-info-item__label {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer__image {
  width: 300px;
  height: 310px;
}

/*# sourceMappingURL=style.css.map */
