.hamburger
    overflow: hidden
    position: relative
    height: 100%
    z-index: 25
    @include media-mobile
        padding-right: 53px
        top: 4px

.hamburger__button
    display: none
    position: relative
    width: 30px
    height: 30px
    padding: 0
    border: none
    background: none
    outline: none
    z-index: 5
    opacity: 0
    cursor: pointer
    @include media-mobile
        display: block

.hamburger__layout
    display: none
    opacity: 0
    transform: translateX(320px)
    position: absolute
    z-index: 1
    right: 0
    top: -49px
    width: 320px
    height: 100vh
    min-height: 823px
    margin: 0
    background-color: $color-dark-3xl
    transition: all 0.4s ease
    @include media-mobile
        display: block
    .logo
        padding-top: 30px
        
.hamburger__line
    display: none
    position: absolute
    width: 30px
    height: 2px
    top: 10px
    z-index: 2
    background-color: $color-primary
    transition: all 0.4s ease
    cursor: pointer
    @include media-mobile
        display: block
    &::before, &::after
        content: ''
        position: absolute
        top: -10px
        width: 30px
        height: 2px
        background-color: $color-primary
        transition: all 0.4s ease
    &::after
        top: 10px
    &_dark
        background-color: $color-dark-4xl
        &::before, &::after
            background-color: $color-dark-4xl
                
.hamburger__menu
    position: absolute
    width: 100%

.hamburger__menu-list
    list-style: none

.menu_active
    display: flex
    flex-direction: row
    justify-content: start
    align-items: center
    gap: 40px
    position: fixed
    z-index: -1
    right: 0
    top: 0
    width: 320px
    height: 823px
    margin: 0
    background-color: $color-dark-3xl

.header__navigation
    .hamburger__button:checked + .hamburger__line
        transform: rotate(-90deg)
    .hamburger__button:checked + .hamburger__line_dark
        background-color: $color-primary
        &::before, &::after
            background-color: $color-primary
    .hamburger__button:checked ~ .hamburger__layout
        opacity: 1
        transform: translateX(320px)
        transform: translateX(0px)
    .hamburger__button:checked ~ .navigation
        opacity: 1
        transform: translateX(125px)
        transform: translateX(-202px)
    
    
