.credit-card
    padding: 10px 15px
    width: 320px
    background: $color-primary
    border-radius: 9px
    cursor: pointer
    a 
        height: 100%
        margin: auto 0
        display: flex
        align-items: center
        gap: 15px
    &:hover
        background: $color-primary-light
    p
        font-family: $font-stack-arial
        font-style: italic
        font-size: 12px
        line-height: 18px
        color: $color-dark-m