@import url("http://fonts.cdnfonts.com/css/georgia");
@import url("http://fonts.cdnfonts.com/css/arial");
@import '../../_normalize.css';
.inner-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.header {
  margin: 0 auto;
}

.header__content {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.logo {
  cursor: pointer;
}

.logo__title {
  font-family: Georgia, serif;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.logo__subtitle {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  margin-top: 10px;
  margin-left: 4px;
}

.header-nav__list {
  list-style: none;
  display: flex;
  gap: 36px;
}

.header-nav__item a {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  cursor: pointer;
}
.header-nav__item a:hover {
  color: #FAFAFA;
}

.header-nav__item_active a {
  color: #FAFAFA;
  line-height: 160%;
}
.header-nav__item_active a::after {
  content: "";
  display: block;
  bottom: 3px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #F1CDB3;
}

.start-screen {
  background-image: url("../../assets/images/start-screen-gradient-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  margin-top: -120px;
  height: 908px;
  display: flex;
  align-items: center;
}

.start-screen__content {
  position: relative;
  width: 100%;
  height: 728px;
  margin-top: 180px;
}

.start-screen__text-content {
  position: absolute;
  top: 163px;
  width: 460px;
  height: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.start-screen__heading {
  max-width: 310px;
}

.start-screen__subheading {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}

.button-primary {
  padding: 15px 45px;
  width: 208px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  font-family: Georgia, serif;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.button-primary:hover {
  background: #FDDCC4;
}

.start-screeen__image {
  position: absolute;
  right: 0px;
}

.about {
  background-color: #FFFFFF;
  padding: 80px 0 100px 0;
}

.about__content {
  display: flex;
  justify-content: center;
  gap: 120px;
}

.about__image {
  height: 408px;
}

.about__text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  max-width: 430px;
}

h3 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__subheading {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

.our-friends {
  padding: 80px 0 100px 0;
  background-color: #F6F6F6;
}

.our-friends__content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.our-friends__heading {
  max-width: 400px;
  text-align: center;
  max-height: 90px;
}

.our-friends__slider {
  display: flex;
  justify-content: space-between;
  height: 435px;
  width: 100%;
}

.slider__button {
  position: relative;
  margin: auto 0;
  cursor: pointer;
  width: 52px;
  height: 52px;
  background: none;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
}
.slider__button .slider__button_arrow {
  position: absolute;
  top: 21px;
  left: 17px;
}
.slider__button:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.slider__items {
  display: flex;
  gap: 90px;
}

.pet-card {
  background-color: #FAFAFA;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  cursor: pointer;
}
.pet-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.pet-card__image {
  width: 270px;
  height: 270px;
}

.pet-card__name {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.button-secondary {
  padding: 15px 45px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  background: none;
  font-family: Georgia, serif;
  font-size: 17px;
  line-height: 100%;
  letter-spacing: 0.06em;
  color: #292929;
  cursor: pointer;
}
.button-secondary:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.pet-card__button {
  width: 188px;
}

.our-friends__button {
  width: 260px;
}

.help {
  padding: 80px 0 100px 0;
}

.help__content {
  height: 431px;
}

.help__heading {
  max-width: 320px;
  text-align: center;
  margin: 0 auto;
  line-height: 128%;
}

.help__list {
  max-width: 1026px;
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
  row-gap: 55px;
}

.help-item {
  display: inline-block;
  flex-basis: 20%;
  text-align: center;
  list-style: none;
}

.help-item__icon {
  margin-bottom: 25px;
  width: 60px;
  height: 60px;
}

h4 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation {
  padding: 80px 0 100px 0;
  background: #F6F6F6;
}

.donation__content {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 282px;
  gap: 30px;
}

.donation__image {
  margin-top: 10px;
  width: 505px;
  height: 261px;
}

.donation__text-content {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donation__heading {
  max-width: 320px;
  line-height: 128%;
}

.donation__subheading {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.credit-card {
  padding: 0px 15px;
  width: 320px;
  height: 43px;
  background: #F1CDB3;
  border-radius: 9px;
  cursor: pointer;
}
.credit-card a {
  height: 100%;
  margin: auto 0;
  display: flex;
  align-items: center;
  gap: 15px;
}
.credit-card:hover {
  background: #FDDCC4;
}

.donation__legal-information {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
}

.footer {
  height: 350px;
  background-image: url("../../assets/images/footer-gradient-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer__content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-info-block {
  height: 234px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
}

.footer-info-block_contacts {
  width: 280px;
}

.footer-info-block__title {
  font-family: Georgia, serif;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer-info-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer-info-item__label {
  font-family: Georgia, serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer__image {
  width: 300px;
  height: 310px;
}

/*# sourceMappingURL=style.css.map */
