.footer
    height: 35rem
    background-image: url('../../assets/images/footer-gradient-background.jpg')
    background-repeat: no-repeat
    background-size: 100% 100%
    .wrapper
        padding-top: 4rem
        display: flex
        justify-content: space-between    

.info-block
    height: 23.4rem
    width: 30rem
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-top: 1.6rem

.info-block_contacts
    width: 28rem

.info-block__title
    font-family: $font-stack-georgia
    font-size: 3.5rem
    line-height: 130%
    letter-spacing: 0.2rem
    color: $color-light-xl
    
.info-block__item
    img
        height: 3.2rem
    a
        display: flex
        gap: 2rem
        align-items: center

.info-block__label
    font-family: $font-stack-georgia
    font-size: 2rem
    line-height: 115%
    letter-spacing: 0.11rem
    color: $color-primary

.footer__image
    width: 30rem
    height: 31rem