.footer
    background-image: url('../assets/images/footer-gradient-background.jpg')
    background-repeat: no-repeat
    background-size: 100% 100%
    .wrapper
        padding-top: 40px
        display: flex
        justify-content: space-between
        @include media-tablet
            padding-top: 15px
            flex-direction: column
            align-items: center
            gap: 65px
        @include media-mobile
            padding-top: 15px
            flex-direction: column
            align-items: center
            gap: 54px

.footer__content
    display: flex 
    gap: 160px 
    @include media-tablet
        gap: 7.81vw
    @include media-mobile
        flex-direction: column
        gap: 40px

.info-block
    height: 234px
    width: 300px
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-top: 16px
    @include media-mobile
        align-items: center
        height: 208px
        width: 100%
        margin-top: 15px

.info-block_contacts
    width: 280px
    @include media-mobile
        width: 100%

.info-block_locations
    @include media-mobile
        gap: 40px
    .info-block__item
        padding: 0 10px
        &:last-child
            padding: 0px 42px 0px 10px


.info-block__title
    font-family: $font-stack-georgia
    font-size: 3.5rem
    line-height: 4.5rem
    letter-spacing: 0.2rem
    color: $color-light-xl
    @include media-mobile
        padding: 0 25px
        font-size: 2.5rem
        line-height: 3.2rem
        text-align: center
        letter-spacing: 0.15rem
    
.info-block__item
    img
        height: 32px
    a
        display: flex
        gap: 20px
        align-items: center

.info-block__label
    font-family: $font-stack-georgia
    font-size: 2rem
    line-height: 2.3rem
    letter-spacing: 0.11rem
    color: $color-primary
    @include media-mobile 
        max-width: 258.28px

.footer__image
    width: 300px
    height: 310px
    @include media-mobile
        max-width: 300px
        width: 81.25vw
        max-height: 310px
        height: 84.06vw