.header
    z-index: 10
    margin: 0 auto
    .wrapper 
        display: flex
        justify-content: space-between

.menu_active
    .logo
        display: none
    .logo_mobile-menu
        padding:
        display: block