.paginator
    margin-top: 6rem
    margin-left: -4rem

.paginator__list
    list-style: none
    display: flex
    gap: 2rem
    margin: 0

.paginator__item
    padding: 0

.button-paginator
    margin: auto 0
    cursor: pointer
    width: 5.2rem
    height: 5.2rem
    background: none
    border: 0.2rem solid $color-primary
    border-radius: 50%
    .button-paginator__inner-text
        font-family: $font-stack-georgia
        font-size: 2rem
        line-height: 85%
        text-align: center
        letter-spacing: 0.1em
        color: $color-dark-3xl
    &:hover
        border-color: $color-primary-light
        background-color: $color-primary-light

.button-paginator__active
    pointer-events: none
    background-color: $color-primary

.button-paginator__disabled
    pointer-events: none
    border-color: $color-dark-s
    .button-paginator__inner-text
        color: $color-dark-s