.slider
    display: flex
    justify-content: center
    gap: 53px
    align-items: center
    @include media-tablet
        gap: 1.56vw

.slider__mobile-buttons-wrapper
    display: none
    @include media-mobile
        display: flex
        justify-content: space-between
        width: 57.5vw
        max-width: 220px
        margin-top: -23px 

.slider__button
    position: relative
    margin: auto 0
    cursor: pointer
    width: 52px
    height: 52px
    background: none
    border: 2px solid $color-primary
    border-radius: 50%
    @include transition
    @include media-mobile
        position: relative
        display: none
    &_mobile
        display: none
        @include media-mobile
            display: block
    &_arrow
        position: absolute
        top: 21px
        left: 17px
    &:hover
        border-color: $color-primary-light
        background-color: $color-primary-light

.slider__wrapper
    position: relative
    overflow: hidden
    height: 555px
    width: 990px
    @include media-tablet
        width: 580px
    @include media-mobile
        width: 270px
        
.slider__items
    position: absolute
    display: flex
    align-items: center
    height: 555px
    margin: auto
    width: 2160px
    gap: 90px
    @include media-tablet
        gap: 40px
    @include media-mobile
        gap: 40px
    &_shifting
        pointer-events: none
        transition: 0.5s all
        