.slider
    display: flex
    justify-content: space-between

.slider__button
    position: relative
    margin: auto 0
    cursor: pointer
    width: 52px
    height: 52px
    background: none
    border: 2px solid $color-primary
    border-radius: 50%
    .slider__button_arrow
        position: absolute
        top: 21px
        left: 17px
    &:hover
        border-color: $color-primary-light
        background-color: $color-primary-light 
        
.slider__items
    display: flex
    gap: 90px