@import url("http://fonts.cdnfonts.com/css/georgia");
@import url("http://fonts.cdnfonts.com/css/arial");
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-weight: 400;
}

main {
  display: block;
}

footer, section, header {
  margin: 0 auto;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  margin: 0;
}

h2, h3, h4, h5, h6, p {
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  white-space: nowrap;
  text-align: center;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

html {
  font-size: 10px;
}

.wrapper {
  position: relative;
  max-width: 120rem;
  margin: 0 auto;
}

.navigation {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.6rem;
}

.navigation__item a {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 220%;
  color: #CDCDCD;
  cursor: pointer;
}

.navigation__item a:hover {
  color: #FAFAFA;
}

.navigation__item_dark a {
  color: #545454;
}

.navigation__item_dark a:hover {
  color: #292929;
}

.navigation__item_active a {
  color: #FAFAFA;
}

.navigation__item_active a:hover {
  color: #FAFAFA;
}

.navigation__item_active a::after {
  content: '';
  display: block;
  margin-top: -0.3rem;
  height: 0.3rem;
  width: 100%;
  background-color: #F1CDB3;
}

.navigation__item_dark-active a {
  color: #292929;
}

.navigation__item_dark-active a:hover {
  color: #292929;
}

.navigation__item_dark-active a::after {
  content: '';
  display: block;
  bottom: 0.3rem;
  left: 0;
  height: 0.3rem;
  width: 100%;
  background-color: #F1CDB3;
}

.logo {
  display: block;
  cursor: pointer;
}

.logo__title {
  display: block;
  font-weight: 400;
  font-family: Georgia, serif;
  font-size: 3.2rem;
  line-height: 110%;
  letter-spacing: 0.18rem;
  color: #F1CDB3;
}

.logo__title_dark {
  color: #545454;
}

.logo__subtitle {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.13rem;
  color: #FFFFFF;
  margin-top: 1rem;
  margin-left: 0.4rem;
}

.logo__subtitle_dark {
  color: #292929;
}

.button {
  display: inline-block;
  padding: 1.5rem 4.5rem;
  text-align: center;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  font-family: Georgia, serif;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
}

.button_primary {
  background: #F1CDB3;
  color: #292929;
}

.button_primary:hover {
  background: #FDDCC4;
}

.button_secondary {
  border: 0.2rem solid #F1CDB3;
  background: none;
  color: #292929;
}

.button_secondary:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

h2 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
}

h3 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #545454;
}

h4 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: #545454;
}

h5 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.1rem;
  color: #545454;
}

.credit-card {
  padding: 1rem 1.5rem;
  width: 32rem;
  height: 2.3rem;
  background: #F1CDB3;
  border-radius: 0.9rem;
  cursor: pointer;
}

.credit-card a {
  height: 100%;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

.credit-card h4 {
  letter-spacing: 0.12rem;
}

.credit-card:hover {
  background: #FDDCC4;
}

.credit-card p {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
}

.header {
  margin: 0 auto;
}

.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__button {
  position: relative;
  margin: auto 0;
  cursor: pointer;
  width: 5.2rem;
  height: 5.2rem;
  background: none;
  border: 0.2rem solid #F1CDB3;
  border-radius: 50%;
}

.slider__button .slider__button_arrow {
  position: absolute;
  top: 2.1rem;
  left: 1.7rem;
}

.slider__button:hover {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.slider__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9rem;
}

.pet-card {
  height: 43.5rem;
  overflow: hidden;
  background-color: #FAFAFA;
  border-radius: 0.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  cursor: pointer;
}

.pet-card:hover {
  -webkit-box-shadow: 0rem 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
          box-shadow: 0rem 0.2rem 3.5rem 1.4rem rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.pet-card:hover .button {
  border-color: #FDDCC4;
  background-color: #FDDCC4;
}

.pet-card__image {
  width: 27rem;
  height: 27rem;
}

.pet-card__name {
  font-family: Georgia, serif;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.1rem;
  color: #545454;
}

.button_pet-card {
  width: 18.8rem;
  line-height: 100%;
}

.footer {
  height: 35rem;
  background-image: url("../../assets/images/footer-gradient-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.footer .wrapper {
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-block {
  height: 23.4rem;
  width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.6rem;
}

.info-block_contacts {
  width: 28rem;
}

.info-block__title {
  font-family: Georgia, serif;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.2rem;
  color: #FFFFFF;
}

.info-block__item img {
  height: 3.2rem;
}

.info-block__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-block__label {
  font-family: Georgia, serif;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.11rem;
  color: #F1CDB3;
}

.footer__image {
  width: 30rem;
  height: 31rem;
}

.header_main .wrapper {
  margin-top: 6rem;
}

.start-screen {
  background-image: url("../../assets/images/start-screen-gradient-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  margin-top: -12rem;
  height: 90.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.start-screen .wrapper {
  width: 100%;
  height: 72.8rem;
  margin-top: 18rem;
}

.start-screen img {
  width: 69.8rem;
  height: 72.8rem;
  position: absolute;
  right: 0;
}

.start-screen__content {
  position: absolute;
  top: 16.3rem;
  width: 46rem;
  height: 32.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-screen__content h2 {
  max-width: 31rem;
}

.start-screen__content p {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
}

.start-screen__content .button {
  width: 11.8rem;
}

.about {
  background-color: #FFFFFF;
  padding: 8rem 0 10rem 0;
}

.about .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12rem;
}

.about img {
  width: 30rem;
  height: 40.8rem;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  max-width: 43rem;
}

.about__content p {
  font-family: Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
}

.our-friends {
  padding: 8rem 0 10rem 0;
  background-color: #F6F6F6;
}

.our-friends .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-friends h3 {
  max-width: 40rem;
  text-align: center;
  max-height: 9rem;
}

.our-friends .slider {
  height: 43.5rem;
  width: 100%;
}

.button_our-friends {
  width: 17.2rem;
}

.help {
  padding: 8rem 0 10rem 0;
}

.help .wrapper {
  height: 43.1rem;
}

.help h3 {
  max-width: 32rem;
  text-align: center;
  margin: 0 auto;
  line-height: 128%;
}

.help__list {
  max-width: 102.6rem;
  margin: 6rem auto 0 auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5.5rem;
}

.help__list_row-1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: 8.3rem 15.2rem 6rem 15.4rem 10.2rem;
      grid-template-columns: 8.3rem 15.2rem 6rem 15.4rem 10.2rem;
}

.help__list_row-2 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: 14.5rem 16.5rem 23rem 20rem;
      grid-template-columns: 14.5rem 16.5rem 23rem 20rem;
}

.help-item {
  display: block;
  z-index: -10;
  text-align: center;
  list-style: none;
}

.help-item__icon {
  margin-bottom: 2.5rem;
  width: 6rem;
  height: 6rem;
}

.donation {
  padding: 8rem 0 10rem 0;
  background: #F6F6F6;
}

.donation .wrapper {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28.2rem;
  gap: 3rem;
}

.donation__image {
  margin-top: 1rem;
  width: 50.5rem;
  height: 26.1rem;
}

.donation__content {
  max-width: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.donation__content h3 {
  max-width: 32rem;
  line-height: 128%;
}

.donation__content p {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #B2B2B2;
}
/*# sourceMappingURL=main.css.map */