@import '../base/normalize'
@import '../base/base'  
@import '../abstract/variables'
@import '../abstract/fonts'
@import '../abstract/mixins'
@import '../layouts/wrapper'
@import '../layouts/hamburger'
@import '../layouts/navigation'
@import '../layouts/logo'
@import '../layouts/buttons'
@import '../layouts/headers'
@import '../layouts/credit-card'
@import '../components/header'
@import '../components/slider'
@import '../components/pet-card'
@import '../components/footer'  

// Header

.header_main
    position: absolute
    left: 50%
    transform: translateX(-50%)
    width: 100%
    .wrapper 
        padding-top: 60px  
        @include media-tablet
            padding-top: 30px 
        @include media-mobile
            padding-top: 30px
    
// Start Screen

.start-screen
    background-image: url('../assets/images/start-screen-gradient-background.jpg')
    background-repeat: no-repeat
    background-size: 100% 100%
    padding-top: 40px
    display: block
    .wrapper
        display: flex
        align-items: center
        gap: 40px
        padding-top: 140px
        width: 100%
        @include media-tablet
            flex-direction: column
            padding-top: 110px
            gap: 100px
        @include media-mobile
            flex-direction: column
            padding-top: 110px
            gap: 105px
    img
        width: 698px
        height: 728px
        align-self: flex-end
        @include media-tablet
            width: 74.09vw 
            max-width: 698px
            height: 77.21vw
            max-height: 728px
            padding-right: 3.91vw
        @include media-mobile
            width: 81.25vw
            height: 84.93vw
            padding-right: 3.13vw

.start-screen__content
    margin-top: -80px
    display: flex
    flex-direction: column
    gap: 42px
    @include media-tablet
        margin-top: 0px
    @include media-mobile
        margin-top: 0px
    .button
        width: 118px
        @include media-tablet
            margin: 0 auto
        @include media-mobile
            margin: 0 auto

.start-screen__text-content
    display: flex
    flex-direction: column
    gap: 42px
    @include media-tablet
        padding-left: 20.05vw
    @include media-mobile
        padding: 0 3.13vw
    h2
        max-width: 310px
        @include media-mobile
            max-width: 100%
            margin: 0 auto
    p
        font-family: $font-stack-arial
        font-size: 1.5rem
        line-height: 160%
        color: $color-dark-s
        @include media-tablet
            padding-right: 20.05vw
        @include media-mobile
            text-align: center

// About

.about 
    background-color: $color-light-xl 
    padding: 80px 0 100px 0 
    @include media-mobile
        padding: 42px 10px
    .wrapper
        display: flex
        justify-content: center
        gap: 120px
        @include media-tablet
            flex-direction: column-reverse
            gap: 80px
            align-items: center
        @include media-mobile
            flex-direction: column-reverse
            gap: 42px
            align-items: center
    img
        width: 300px
        height: 408px
        @include media-mobile
            width: 81.25vw
            max-width: 300px
            height: 110.5vw
            max-height: 408px
    
.about__content
    display: flex
    flex-direction: column
    justify-content: center
    gap: 25px
    max-width: 430px
    @include media-tablet
       max-width: 100%
       padding: 0 22.01vw
    @include media-mobile
        p:last-child
            margin-top: -3px
    h3
        @include media-tablet
            max-width: 430px
        @include media-mobile
            max-width: 100%
    p 
        font-family: $font-stack-arial
        font-size: 1.5rem
        line-height: 160%
        color: $color-dark-xl
        @include media-tablet
            max-width: 100%
        @include media-mobile
            padding: 0 15px
            text-align: justify        

// Our Friends

.our-friends
    padding: 80px 0 100px 0
    background-color: $color-light-l
    @include media-mobile
        padding: 42px 10px
    .wrapper
        display: flex
        flex-direction: column
        align-items: center
        @include media-mobile
            gap: 42px
    h3
        max-width: 400px
        text-align: center
        max-height: 90px
        @include media-mobile
            max-width: 100%
    .slider
        width: 100%
        @include media-tablet
            padding: 0 3.91vw        

.button_our-friends
    width: 172px

// Help

.help
    padding: 80px 0 100px 0
    @include media-mobile
        padding: 42px 10px
    .wrapper
    h3
        max-width: 320px
        text-align: center
        margin: 0 auto
        line-height: 128%
        @include media-mobile
            max-width: 100%
            padding: 0 12vw        

.help__list
    margin: 60px auto 0 auto
    padding: 0
    display: flex
    justify-content: center
    flex-direction: row
    flex-wrap: wrap
    gap: 55px 122px
    @include media-tablet 
        gap: 55px 7.81vw
    @include media-mobile
        max-width: 320px
        margin: 0 auto
        padding: 42px 5px 0 5px
        justify-content: space-between
        gap: 30px

.help-item
    display: block
    text-align: center
    list-style: none
    @include media-tablet 
        flex-basis: 20%

.help-item__icon
    width: 100%
    height: 60px
    margin: 0 auto 28px auto
    @include media-mobile
        height: 50px
        margin: 0 auto 17.5px auto

.help-item__label
    margin: auto
    @include media-tablet
        width: 170px
    @include media-mobile
        width: 129px

// Donation

.donation
    padding: 80px 0 100px 0
    background: $color-light-l
    @include media-mobile
        padding: 42px 10px 42px 10px
    .wrapper
        margin: 0 auto
        display: flex
        justify-content: center
        gap: 30px
        @include media-tablet
            flex-direction: column-reverse
            align-items: center
            gap: 50px
        @include media-mobile
            flex-direction: column-reverse
            align-items: center
            gap: 31px

.donation__image
    margin-top: 10px
    width: 505px
    height: 260px
    @include media-mobile
        max-width: 505px
        width: 81.25vw
        max-height: 260px
        height: 42.25vw

.donation__content
    max-width: 380px
    display: flex
    flex-direction: column
    gap: 20px
    @include media-tablet  
        max-width: 100%
        padding-left: 25.26vw
    @include media-mobile
        max-width: 100%
    h3
        max-width: 320px
        line-height: 4.5rem
        @include media-mobile
            line-height: 3.2rem
            max-width: 68.75vw
            margin: 0 auto
    h5
        @include media-tablet
            max-width: 380px
    p
        font-family: $font-stack-arial
        font-style: italic
        font-size: 1.2rem
        line-height: 150%
        color: $color-dark-m
        @include media-tablet
            padding-right: 25.26vw
        @include media-mobile
            max-width: 460px
            padding: 0 3.13vw
            text-align: justify

