@import '../base/normalize'
@import '../base/base'  
@import '../abstract/variables'
@import '../abstract/fonts'
@import '../abstract/mixins'
@import '../layouts/wrapper'
@import '../layouts/navigation'
@import '../layouts/hamburger'
@import '../layouts/logo'
@import '../layouts/buttons'
@import '../layouts/headers'
@import '../components/header'
@import '../components/pet-card'
@import '../components/paginator'  
@import '../components/footer'  
@import '../components/modal'

// Header 

.header
    position: sticky
    background-color: $color-light-xl
    height: 120px
    margin: 0 auto
    top: 0
    z-index: 10
    .wrapper
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center

// Our Friends

.our-friends
    padding: 80px 0 100px 0
    background-color: $color-light-l
    @include media-tablet
        padding: 80px 0 76px 0
    @include media-mobile
        padding: 42px 0
    .wrapper
        display: flex
        flex-direction: column
        align-items: center
        overflow: hidden
        @include media-tablet
            width: 580px
        @include media-mobile
            width: 300px
    h3
        max-width: 400px
        text-align: center
        max-height: 90px
        margin-bottom: 60px
        @include media-tablet
            margin-bottom: 30px
        @include media-mobile
            max-width: 100%
            margin-bottom: 42px
        
.our-friends__cards
    display: flex
    flex-direction: column
    max-height: 900px
    gap: 40px
    display: flex
    gap: 30px 40px
    flex-wrap: wrap
    width: 1200px
    justify-content: center
    @include media-tablet
        padding: 0 94px
        column-gap: 40px
        width: 580px
        max-height: 1365px
    @include media-mobile
        width: 270px
        max-height: 1365px
    &_shifting
        pointer-events: none
        transition: 0.5s all
    
