@import '../base/normalize'
@import '../base/base'  
@import '../variables/colors'
@import '../variables/fonts'
@import '../layout/wrapper'
@import '../layout/navigation'
@import '../layout/logo'
@import '../layout/buttons'
@import '../layout/headers'
@import '../components/header'
@import '../components/pet-card'
@import '../components/paginator'  
@import '../components/footer'  

// Header

.header
    position: sticky
    background-color: $color-light-xl
    height: 12rem
    margin: 0 auto
    top: 0
    z-index: 10
    .wrapper
        height: 100%
        display: flex
        justify-content: space-between
        align-items: center

// Our Friends

.our-friends
    padding: 8rem 0 10rem 0
    background-color: $color-light-l   
    .wrapper
        display: flex
        flex-direction: column
        align-items: center
    h3
        max-width: 40rem
        text-align: center
        max-height: 9rem
        margin-bottom: 6rem
        
.our-friends__cards
    display: flex
    gap: 3rem 4rem
    flex-wrap: wrap    